* {
    margin: 0;
    padding: 0;
}

/************ Hero Section *************/

.top-container {
    background: url("images/nigeriamycountry.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 300px;
}

.first-heading {
    color: #FFFFFF;
    width: 140px;
    font-size: 15px;
    text-align: center;
    background-color: #1D3557;
    border-radius: 6px;
}

.intro-text {
    width: 280px;
    text-align: center;
    font-size: 13px;
    color: #FFFFFF;
    background: #457B9D;
    line-height: 15px;
    border-radius: 5px;
}

/************ Activities Section *************/

.mid-container {
    height: 740px;
    background: #F1FAEE;
}

.mid-header {
    text-align: center;
    padding-top: 20px;
    color: #1D3557;
    font-weight: 800;
}

.activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activities-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.all-activities {
    text-align: center;
    margin-top: 20px;
    width: 220px;
    height: 200px;
}

.welcome-p {
    font-size: 15px;
    font-weight: 800;
    color: #1D3557;
}

.description-p {
    margin-top: 10px;
}

/************ Guide Section *************/

.bottom-container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guide-card {
    width: 340px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    padding: 8px;
    background: #A8DADC;
    box-shadow: 0px 6px 0px #1D3557;
    border-radius: 10px;
}

.guide-img {
    width: 124px;
    height: 200px;
    border-radius: 10px;
}

.guide-des {
    width: 190px;
    height: 200px;
    padding-top: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (min-width: 720px) {
    .top-container {
        height: 500px;
    }

    .first-heading {
        width: 250px;
        font-size: 30px;
    }

    .intro-text {
        width: 500px;
        font-size: 20px;
        line-height: 25px;
    }

    .mid-container {
        height: 500px;
    }

    .mid-header {
        font-size: 25px;
        padding-top: 40px;
    }

    .activities {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        gap: 100px;
    }

    .all-activities {
        width: 280px;
        height: 250px;
    }

    .activities-img {
        width: 150px;
        height: 150px;
    }

    .welcome-p {
        font-size: 18px;
        margin-top: 10px;
    }

    
}